*{
    margin:0;
    padding:0;
}

button.btn.btn-info {
    margin-right: 29px;
    margin-top: 14px;
}

label {
    margin-bottom: 7px;
    margin-top: 12px;
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

