<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thông tin tài khoản</title>
	<!-- css bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
	<!-- custom file css -->
	<link rel="stylesheet" href="../../css/Account/Index.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 infomation-account">
				<h4 id="h4Infomation">THÔNG TIN TÀI KHOẢN</h4>
				<h4 id="h4Mesage">THÔNG BÁO CỦA TÔI <span>(5)</span></h4>
				<!-- start content -->
				<div id="infomation-content" class="infomation-content">
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- script jquery -->
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<!-- script bootstrap -->
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<!-- w3 -->
	<!-- my script -->
	<script type="text/javascript" src="../../js/Account/index.js"></script>
</body>
</html>