<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<!-- FontAwsome -->
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<!-- Google Fonts -->
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto" >
	<!-- custom file css -->
	<link rel="stylesheet" href="../../css/ProductDetail/index.css">
</head>
<body>
	
</body>
	<!-- jquery -->
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<!-- custom javascript -->
	<script type="text/javascript" src="../../js/ProductDetail/index.js"></script>

</html>