<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- css bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
	<div id="header">
	</div>
	<div id="content"></div>
	<!-- script jquery -->
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<!-- script bootstrap -->
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<!-- my script -->
	<script type="text/javascript" src="../../js/Order/order.js"></script>
</body>
</html>