	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Đây là tên Sản phẩm</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" >
		<!-- FontAwsome -->
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<!-- custom file css -->
		<link rel="stylesheet" href="../../css/AccountInfomation/Index.css">

	</head>
	<body>
		<div class="container">
			<div class="row">
				
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
		<!-- jquery -->
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<!-- js bootstrap -->
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<!-- custom js -->
		<script type="text/javascript" src="../../js/AccountInfomation/Index.js"></script>
	</body>
	</html>