<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../css/AccountInfomation/Index.css">
</head>
<body>
	<div class="row">
		<!-- start Rfind account -->
		<div class="container">
			<div class="rememver-content">
				<div class="infomation-content">
					<h4>Tìm tài khoản của bạn</h4>
					<div class="find-content">
						<span class="Remember-email">Vui lòng nhập tên tài khoản hoặc email để tìm kiếm tài khoản</span>
						<input class="txtInputRemember" type="text" name="txtEmail" id="txtEmail" placeholder="Tên tài khoản hoặc email">
					</div>
					<div class="footer-remember">
						<button class="footerBtn btn-success " type="button" name="btnSuccess" id="btnSuccess">Tìm kiếm</button>
						<button class="footerBtn btn-cancel" type="button" name="btnCancel" id="btnCancel">Hủy</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end find account -->
	</div>
	
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/AccountInfomation/RememberFindAccount.js"></script>
</body>
</html>