<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<!-- font fa -->
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<!-- css my cústom -->
	<link rel="stylesheet" type="text/css" href="../../css/Order/header.css">
</head>
<body>
	<!-- paymen progress -->
	<div class="container-fluid">
		<div class="shipping-header">

			<div class="row row-style-1">
				<div class="col-lg-8">
					<div class="row bs-wizard">

						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step active">
							<div class="text-center bs-wizard-stepnum">
								<span>Đăng Nhập</span>
							</div>
							<div class="progress"><div class="progress-bar"></div></div>
							<span class="bs-wizard-dot">1</span>
						</div>

						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">
							<div class="text-center bs-wizard-stepnum">
								<span class="hidden-xs">Địa Chỉ Giao Hàng</span>
								<!-- <span class="visible-xs-inline-block">Địa Chỉ</span> -->
							</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<span class="bs-wizard-dot">2</span>
						</div>

						<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">
							<div class="text-center bs-wizard-stepnum">
								<span class="hidden-xs">Thanh Toán &amp; Đặt Mua</span>
								<!-- <span class="visible-xs-inline-block">Thanh Toán</span> -->
							</div>
							<div class="progress">
								<div class="progress-bar"></div>
							</div>
							<span class="bs-wizard-dot">3</span>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end payment progress -->
	<!-- jquery -->
	<script type="text/javascrips" src="../../js/jquery.min.js"></script>
	<!-- bút tráp  -->
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/Order/order.js"></script>
</body>
</html>