<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../css/Order/payment_address.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-push-2">
				<div  class="address">
					<form>
						<div class="form-group">
							<label for="Name">Họ tên</label>
							<input type="text" class="form-control" id="Name" placeholder="Nhập họ tên">
						</div>
						<div class="form-group">
							<label for="SDT">SĐT</label>
							<input type="email" class="form-control" id="SĐT" placeholder="Nhập SĐT">
						</div>
						<div class="form-group">
							<label for="Tinh">Tỉnh/Thành phố</label>
							<input type="password" class="form-control" id="Tinh" placeholder="nhập tên tỉnh/thành phố">
						</div>  
						<div class="form-group">
							<label for="Quan">Quận huyện/phường xã</label>
							<input type="password" class="form-control" id="Quan" placeholder="Nhập tên quận huyện hoặc phường xã
							">
						</div>  
						<div class="form-group">
							<label for="DiaChi">Địa chỉ</label>
							<input type="password" class="form-control" id="Quan" placeholder="Nhập địa chỉ
							">
						</div>   

						<button type="submit" class="btn btn-info">Cập nhật</button>
						<button type="submit" class="btn btn-info">Hủy bỏ</button>

					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/Order/order.js"></script>
</body>
</html>