<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<!-- font fa -->
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<!-- css my cústom -->
	<link rel="stylesheet" type="text/css" href="../../css/Home/Home.css">
	<link rel="stylesheet" type="text/css" href="../../css/Home/owl.carousel.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>
<body>
	<nav id="nav-header" class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nasaxo shop</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
					<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>					
					<li><a href="#">Đăng kí</a></li>
					<li><a href="#">Đăng nhập</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav> <!-- end navbar -->

	<!-- discount-->
	
	<div class="Header">
		<div class="container-fluid">
			<div id="slider" class="owl-carousel">
				<div class="item">
					<img src="../../images/2.jpeg" class="img-responsive">
				</div>
				<div class="item">
					<img src="../../images/2.jpeg" class="img-responsive">
				</div>
				<div class="item">
					<img src="../../images/2.jpeg" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<!-- end discount -->
	<!-- product catalog -->
	<div class="product_catalog">
		<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#layout">Tất cả</a></li>
				<li><a data-toggle="tab" href="#coat">Áo khoác</a></li>
				<li><a data-toggle="tab" href="#shirt">Áo sơ mi</a></li>
				<li><a data-toggle="tab" href="#T_shirt">Áo thun</a></li>
			</ul>
			<div class= "layout_Product">
				<div class="banner">
					<a href="" class="KhoiVuongNho ToHon">
						<img src="../../images/Aokhoac_1D.png" alt="" class=" layer1 img img-responsive">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/8.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/9.jpg" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/7.jpg" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/Aokhoac_2.jpg" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
					</a>
				</div> 
			</div>
		</div>
	</div>

	<!-- end product catalog -->
	<!-- sign in email -->
	<div class="container-fluid">
		<div class="row">
			<div class="email text-center">
				<h1 class="email1">Get Our Latest Update In Your Email</h1>
				<p>Subscribe now to get 15% off on any product</p>
				<div class ="sign-in  ">
					<input type="text" name="txtEmail" placeholder="Your email address"">
					<button class=" btn_subscribe">SUBSCRIBE</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end sign in email -->
	<!-- best seller -->
	<div class="container-fluid">
		
		<div class="row">
			<h1 class="text-center best">Best Seller</h1>
			<div id="best_seller" class="best_seller">

				<div class="item">
					<a href="" class="KhoiVuongNho">
						<img src="../../images/Aokhoac_2.jpg" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
							
						</div>
					</a>
				</div>
				<div class="item">
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>

					</a>
				</div>
				<div class="item">
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>
						
					</a>
				</div>
				<div class="item">
					<a href="" class="KhoiVuongNho">
						<img src="../../images/10.png" alt="" class=" layer1">
						<span class="layer2"></span>
						<div class=" layer3">
							<div class="content">
								<span class="name"> Áo thun tay dài nữ tính</span><br>
								<span class="prices"> 150.000 đ</span>
							</div>
							<div class="button">
								<button class="btn btn-default pull-right ">
									<span class="glyphicon glyphicon-shopping-cart"></span>						 									 	
								</button>
							</div>
						</div>						
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end best seller -->
<!-- 	contact -->
	<div class="container-fluid">
		<div class="row">
			<div class="address">
				<span><b>ADDRESS:</b> KTX-khu B ĐHQG TP HCM</span><br>
				<span><b>PHONE:</b> 0952 432 685</span><br>
				<span><b>EMAIL:</b> mail@gmail.com</span><br>
				<span><b>WORKING DAYS/HOURS:</b> Mon-Sun/9:00AM-8:00PM</span><br>
			</div>
		</div>
	</div>
	<!-- end contact -->
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<!-- bút tráp  -->
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/Home/owl.carousel.js"></script>
	<script type="text/javascript" src="../../js/Home/index.js"></script>

</body>
</html>