	<!DOCTYPE html>
	<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>nasaxo.com</title>
		<!-- Custom css home -->
		<link rel="stylesheet" type="text/css" href="../../css/Home/home-custom.css">

		<!-- jquery -->
		<script type="text/javascript" src="../../js/jquery.min.js"></script> 
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->

			
		</head>
		<body>
			<div class="header">
				<div><nav class="navbar navbar-default fixed-top" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">nasaxo.com</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">HOME</a></li>
								<li><a href="#">ÁO THUN NAM</a></li>
								<li><a href="#">ÁO SƠ MI</a></li>
								<li><a href="#">ÁO KHOÁC</a></li>
								<li><a href="#">QUẦN JEAN</a></li>
								<li><a href="#">QUẦN SOOC</a></li>
							</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Tìm kiếm">
								</div>
								<button type="submit" class="btn btn-default">Tìm kiếm</button>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">XEM THÊM <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">ABOUT US</a></li>
										<li><a href="#">CONTACT US</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
			<div class="main-content">

				<div id="slider" class="owl-carousel" style="padding-top: 10px;overflow: hidden;">
					<div class="owl-stage-outer">
						<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.5s; width: 1895px;">
							<div class="owl-item active" style="width: 315.75px;float:left;">
								<div class="item">
									<a href="#"><img src="../../images/slide1.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;padding-left: 24px;"></a>
								</div>
							</div>

							<div class="owl-item active" style="width: 315.75px;float: left;">
								<div class="item">
									<a href="#"><img src="../../images/slide2.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;""></a>
								</div>
							</div>

							<div class="owl-item active" style="width: 315.75px;float: left;">
								<div class="item">
									<a href="#"><img src="../../images/slide3.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;"></a>
								</div>
							</div>
							<div class="owl-item active" style="width: 315.75px;float:left;">
								<div class="item">
									<a href="#"><img src="../../images/slide4.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;"></a>
								</div>
							</div>

							<div class="owl-item" style="width: 315.75px;float:left;">
								<div class="item">
									<a href="#"><img src="../../images/slide5.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;"></a>
								</div>
							</div>
							<div class="owl-item" style="width: 315.75px;float:left;">
								<div class="item">
									<a href="#"><img src="../../images/slide6.jpg" alt class="img-responsive" style="width: 285.75px;height: 285.75px;"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-nav disabled">
						<div class="owl-prev"></div>
						<div class="owl-next"></div>
					</div>

					<div class="owl-dot" style="display: inline-block;zoom:1;cursor: pointer;user-select: none;box-sizing: border-box;text-align: center;position: relative;">
						<span>

						</span>
					</div>
					<div class="owl-dot active" style="display: inline-block;zoom:1;cursor: pointer;user-select: none;box-sizing: border-box;text-align: center;position: relative;">
						<span>

						</span>
					</div>
				</div>
				<div class="content">
					<div class="container">
						<div class="col-md-12">
							<div class="box text-center" style="border:solid 1px #ccc;border-left: none;border-right: none">
								<h3 class="text-uppercase">Thời trang Thu- Đông
								</h3>
								<h4 class="text-muted">
									<span class="accent">Miễn phí ship cho TẤT CẢ</span>
								</h4>
							</div>
							<div class="row-products" style="border:solid 1px #ccc;border-left: none;border-right: none;border-top: none">
								<div class="col-md-3 col-sm-4">
									<div class="product">
										<div class="image" style="height: 255px;">
											<a href="#">
												<img src="../../images/product1.jpg" alt class="img-responsive image1">
											</a>
	 									<!-- <div class="quick-view-button" style="opacity: 0;font-size: 11px;width: 100px;text-align: center;padding: 5px 10px;line-height: 1.5;border-radius: 3px;letter-spacing: 0.08em;">
	 										<a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Xem nhanh</a>
	 									</div> -->
	 									<div class="text" style="color: #555;box-sizing: border-box;cursor:auto;font-size: 18px;font-weight: 700;line-height: 1.1;text-align: center;">
	 										<h3><a href="#">Áo đẹp xuất phát từ uy tín và chất lượng</a></h3>
	 										<p>Giá: 500000 VND</p>
	 										<div></div>
	 										<div></div>
	 										<div></div>
	 									</div>
	 								</div>
	 							</div>
	 						</div>

	 						<div class="col-md-3 col-sm-4">
	 							<div class="product>
	 								<div class="image" style="height: 255px;">
	 									<a href="#">
	 										<img src="../../images/product2.jpg" alt class="img-responsive image1">
	 									</a>
	 									<!-- <div class="quick-view-button" style="opacity: 0;font-size: 11px;width: 100px;text-align: center;padding: 5px 10px;line-height: 1.5;border-radius: 3px;letter-spacing: 0.08em;">
	 										<a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Xem nhanh</a>
	 									</div> -->
	 									<div class="text" style="color: #555;box-sizing: border-box;cursor:auto;font-size: 18px;font-weight: 700;line-height: 1.1;text-align: center;">
	 										<h3><a href="#">Áo đẹp xuất phát từ uy tín và chất lượng</a></h3>
	 										<p>Giá: 500000 VND</p>
	 										<div></div>
	 										<div></div>
	 										<div></div>
	 									</div>
	 								</div>
	 							</div>
	 						</div>

	 						<div class="col-md-3 col-sm-4">
	 							<div class="product">
	 								<div class="image" style="height: 255px;">
	 									<a href="#">
	 										<img src="../../images/product3.jpg" alt class="img-responsive image1">
	 									</a>
	 									<!-- <div class="quick-view-button" style="opacity: 0;font-size: 11px;width: 100px;text-align: center;padding: 5px 10px;line-height: 1.5;border-radius: 3px;letter-spacing: 0.08em;">
	 										<a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Xem nhanh</a>
	 									</div> -->
	 									<div class="text" style="color: #555;box-sizing: border-box;cursor:auto;font-size: 18px;font-weight: 700;line-height: 1.1;text-align: center;">
	 										<h3><a href="#">Áo đẹp xuất phát từ uy tín và chất lượng</a></h3>
	 										<p>Giá: 500000 VND</p>
	 										<div></div>
	 										<div></div>
	 										<div></div>
	 									</div>
	 								</div>
	 							</div>
	 						</div>

	 						<div class="col-md-3 col-sm-4">
	 							<div class="product">
	 								<div class="image" style="height: 255px;">
	 									<a href="#">
	 										<img src="../../images/product4.jpg" alt class="img-responsive image1">
	 									</a>
	 									<!-- <div class="quick-view-button" style="opacity: 0;font-size: 11px;width: 100px;text-align: center;padding: 5px 10px;line-height: 1.5;border-radius: 3px;letter-spacing: 0.08em;">
	 										<a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Xem nhanh</a>
	 									</div> -->
	 									<div class="text" style="color: #555;box-sizing: border-box;cursor:auto;font-size: 18px;font-weight: 700;line-height: 1.1;text-align: center;">
	 										<h3><a href="#">Áo đẹp xuất phát từ uy tín và chất lượng</a></h3>
	 										<p>Giá: 500000 VND</p>
	 										<div></div>
	 										<div></div>
	 										<div></div>
	 									</div>
	 								</div>
	 							</div>
	 						</div>

	 					</div>
	 				</div>

	 			</div>

	 		</div>


	 	</div>
	 	<div class="footer" style="width: 1264px;height: 15px;background-color: black;position: fixed;bottom:0;width: 100%; padding-top: 3px;padding-bottom: 25px;">
	 		<div class="container">
	 			<div class="col-md-12">
	 				<p class="pull-left" style="color: white;">
	 					© 2017 - 2018. Copyright . nasaxo.com 
	 				</p>
	 			</div>
	 		</div>
	 	</div>
	 </body>
	 </html>

	 <!-- http://minimal.ondrejsvestka.cz/1-4/# -->`